node_modules/
frontend/node_modules/
dist/
frontend/dist/
.env
frontend/.env
.DS_Store
*.pyc
__pycache__/
venv/
*.egg-info/
.venv/
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/app/**/__pycache__/
backend/migrations/__pycache__/
backend/migrations/versions/__pycache__/
backend/.env
frontend/.DS_Store
backend/.DS_Store
.vscode/
.idea/
*.log
backend/uploads/
frontend/src/imports/
